<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body ,html{
        background-color: #111;
        color: #eee;
    }

    li{
        border-bottom: 1px solid #eee;
        font-size: 18px;
        position: relative;
        padding: 1rem;
    }
    a{
        color: #eee;
        text-decoration: none;
        margin-left: 10rem;
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
    }
    .time{
        margin-left: 2rem;
    }
</style>
<body>
    <ol>
        <% news.forEach((vo)=> { %>
            <li>
                <div>
                    <%= vo.title %>
                    <a href="<%= vo.web_url %>" role="button" target="_blank">Detail >></a>
                </div>
                <p>
                    <%= vo.company %>
                    <span class="time"><%= vo.createdAt %></span>
                </p>
            </li>
        <% }) %>
    </ol>
</body>
</html>